ShibUserPassAuth {

// See: https://wiki.shibboleth.net/confluence/display/SHIB2/IdPAuthUserPass

   edu.vt.middleware.ldap.jaas.LdapLoginModule required
      ldapUrl="ldap://ldap.affinitic.be"
      baseDn="ou=people,dc=affinitic,dc=be"
      subtreeSearch="true"
      bindDn="cn=admin,dc=affinitic,dc=be"
      bindCredential=""
      ssl="false"
      userFilter="uid={0}";

};
